{
  "extends": "eslint-config-airbnb",
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "linebreak-style": 0,
    "no-console": "warn",
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": 0,
    "react/prop-types": "off",
    "semi": ["warn", "never"]
  }
}
